<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>WeChallenge Review Application</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
</head>
<body>
    <form action="javascript:getReviewById(reviewId.value)">
        <label for="reviewId">Get a review by ID: </label>
        <input type="text" id="reviewId" name="reviewId">
        <input type="submit" value="Get">
    </form>

    <!--div>
        <textarea id="oneReviewTextarea"></textarea>
    </div-->

    <form action="javascript:editReview(reviewId.value, oneReviewTextarea.value)">
        <textarea id="oneReviewTextarea" name="oneReviewTextarea"></textarea><br>
        <input type="submit" value="Update">
    </form>
    <!--button type="button" th:onclick="getReviewById(7)">Test Fetch</button-->

    <form action="javascript:searchReviewsByKeyword(keyword.value)">
        <label for="reviewId">Search reviews by a keyword: </label>
        <input type="text" id="keyword" name="keyword">
        <input type="submit" value="Search">
    </form>

    <div id='showReviews'></div>
</body>
</html>